[submodule "themes/hexo-theme-ocean"]
    path = themes/hexo-theme-ocean
    url = https://github.com/zhwangart/hexo-theme-ocean.git


[submodule "themes/yelee"]
    path = themes/yelee
    url = https://github.com/MOxFIVE/yelee.git

